* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------- */

.flip-card {
    width: 85vw;
    height: 90vh;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    border: 2px solid rgb(137, 147, 180);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    border: 2px solid rgb(137, 147, 180);
    border-radius: 26px;
    backface-visibility: hidden;

}

.flip-card-front {
    flex-direction: row;
}

.flip-card-back {
    flex-direction: row-reverse;
    transform: rotateY(180deg);
}

.flip-card-back .loginImage {
    border-radius: 0px 24px 24px 0px;
}

.flip-card-back .loginForm {
    border-radius: 24px 0px 0px 24px;
}

/* ------------------------------------------- */

.loginImage {
    width: 50%;
    background-color: rgb(137, 147, 180);
    border-radius: 24px 0px 0px 24px;
}

.loginImage img {
    width: 100%;
    height: 100%;
}

.loginForm {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 24px 24px 0px;
}

.welcome {
    width: 65%;
    margin-top: 10px;
    font-size: 14px;
    color: #33333371;
}

.loginWith {
    width: 65%;
    height: 20px;
    padding: 8px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
}

.loginWith:hover {
    cursor: pointer;
    border-color: #666666;
}

.loginWith:hover .operator {
    color: #272727;
}

.loginWith .icon {
    width: 20px;
    height: 20px;
}

.loginWith .icon img {
    width: 100%;
    height: 100%;
}

.loginWith .operator {
    font-size: 14px;
    font-weight: 600;
    color: #666666;
}

.secondChoice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 65%;
    font-size: 14;
    color: #333333;
}

.ligne {
    border-top: 1px solid silver;
    width: 45%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 65%;
}

.inputField {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
    width: 100%;
}

.inputField label {
    font-size: 16px;
}

.inputField input {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
    height: 40px;
    width: 98%;
    padding-left: 8px;
    font-size: 16px;
}

.fullName {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fullName .firstName,
.fullName .lastName {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 5px;
}


.remeberOrForget {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
}

.remeberMe {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.remeberMe input,
.remeberMe label {
    cursor: pointer;
}

.forgetPassword {
    font-weight: bold;
    color: #666666;
    cursor: pointer;
}

.forgetPassword:hover {
    text-decoration: underline;
}

.terms {
    width: 100%;
    font-size: 12px;
    color: #33333371;
}

.terms a {
    color: rgb(52, 16, 136);
}

.submit {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(102, 109, 133);
    border: 2px solid;
}

.submit:hover {
    border-color: rgb(102, 109, 133);
}

.register,
.login {
    width: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #333333;
}

.register a,
.login a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(52, 16, 136);
}

.register a:hover,
.login a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 550px) {

    body {
        height: max-content;
        overflow-x: hidden;
    }

    .flip-card {
        height: 1000px;
        margin: 20px 0px;
    }

    .flip-card-front {
        flex-direction: column;
        align-items: center;
    }

    .flip-card-front .loginImage {
        width: 100%;
        border-radius: 24px 24px 0px 0px;
    }

    .flip-card-back {
        flex-direction: column;
    }

    .flip-card-back .loginImage {
        width: 100%;
        border-radius: 24px 24px 0px 0px;
    }

    .flip-card-front .loginForm,
    .flip-card-back .loginForm {
        padding: 10px 0px;
        width: 100%;
        height: max-content;
        border-radius: 0px 0px 24px 24px;
    }

    .welcome {
        width: 80%;
        padding-top: 10px;
    }

    .loginWith {
        width: 75%;
        padding: 10px 0px;
    }

    .secondChoice {
        width: 75%;
    }

    form {
        width: 75%;
    }

    .register {
        margin-bottom: 20px;
    }
}